@CHARSET "UTF-8";
/*Classes de style*/
.label1{
	font-size: 20px;
	font-weight: bold;
	color:#000000 ;
}
.mainTitre{
	
	font-weight: bold;
	text-align:center;
	color:#000000 ;
}

.p1{
	text-align:center;
}

.p2{
	text-align:right;
}

.titre{
	font-size: 17px;
	font-weight: bold;
	color:#000080 ;
}
.bonne{
	font-size: 17px;
	font-weight: bold;
	color:#098305 ;
}
.mauvais{
	font-size: 17px;
	font-weight: bold;
	color:#ff0000 ;
}
/**********FORMULAIRE VALIDATION Classes ********************/
.correct{
	display:inline-block;
	padding:2px 3px;
	border:2px solid #777;
	margin:1px;
    border-color: #ff0000;
    color: #ff8000;
	
}
.hide{
	display:none;		
}
.nohide{
	display:inline-block;
	border-color: #0000ff;
	color: #800080;	
}